.upcomingWorkshop {
  margin-top: 48px;
}

.browseLink {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  overflow: hidden;
  font-size: 18px;

  &.browseLinkCentered {
    text-align: center;
    justify-content: center;
  }

  span {
    position: relative;
    font-size: 18px;
    color: #2c3573;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #2c3573;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
      transform: translate3d(-100%, 0, 0);
    }
  }

  &:hover span:after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &.browseLinkWithArrow:hover svg {
    transform: translate3d(10px, 0, 0);
  }

  svg {
    transition: transform 300ms;
    margin-left: 16px;
    color: #2c3573;
  }
}

.articleType {
  margin: 0 0 8px 0;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 18px;
}

.aboutHeader {
  padding: 40px 0 56px;
  background-color: #202d40;
  text-align: left;

  h1,
  h2,
  p {
    margin-bottom: 0;
    text-align: left;
    color: #fff;
  }

  @media (min-width: 768px) {
    padding: 112px 0 112px;
    margin-bottom: 60px;
  }
}

p.articleType {
  text-align: center;
  color: #c5b050 !important;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}

.articlePublished {
  font-size: 18px;
  letter-spacing: 0;
  margin-top: 24px;
}

.articlePublishedBy {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
  }

  font-size: 18px;
  font-weight: 500;

  p {
    margin: 0;
  }

  margin-bottom: 48px;
}

.aboutHeadingDescriptionContent {
  h1 {
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
  > h2 {
    width: 50%;
  }
}

.aboutHeadingDescriptionArea {
  @media (max-width: 767px) {
    margin-top: 32px;
  }

  > div {
    display: flex;
    flex-direction: column;
  }

  p {
    font-family: 'LeMondeCourrier', serif;
    color: #000;
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 32px;

    @media (min-width: 768px) {
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0;
      margin-bottom: 0;
    }
  }

  h2 {
    @media (min-width: 768px) {
      font-size: 32px !important;
      letter-spacing: -1px;
      line-height: 38px;
    }
  }

  @media (min-width: 900px) {
    margin-top: 62px;
    margin-bottom: 62px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.aboutHeadingDescriptionAreaWithLink {
  > div {
    @media (min-width: 768px) {
      width: 50%;
    }

    p {
      width: 100%;
      margin-bottom: 30px;
    }

    a {
      @media (max-width: 767px) {
        margin-bottom: 32px;
      }
    }
  }
}

.articleExcerpt {
  margin-bottom: 24px;
  line-height: 24px;
  font-size: 18px;
}

.workshopsContainer {
  margin-top: 16px;
}

.singleWorkshop {
  video {
    border-radius: 4px;
  }
}

.articleTime {
  font-weight: 500;
  color: #c5b050;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  font-size: 16px;

  //   margin-bottom: 0;

  svg {
    font-size: 18px;
  }
}

.articleTitle {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 16px;
}

.articleSubtitle {
  font-size: 18px;
  line-height: 24px;
}

.imageContainer {
  position: relative;

  img {
    // position: relative;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  color: #fff;
}

.imageContainerText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  // margin-top: -40%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
}

.imageContainerTitle {
  color: #fff;
  margin: 0;
}

.aboutImageContainer {
  img {
    border-radius: 0;
  }

  @media (min-width: 900px) {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .imageContainerTitle {
    @media (min-width: 900px) {
      font-size: 38px;
      line-height: 44px;
    }
  }

  .imageContainerText {
    margin-left: 32px;
    margin-right: 32px;

    @media (min-width: 900px) {
      max-width: 500px;
      width: 100%;
      left: 50%;
      transform: translate(-75%, -50%);
    }
  }

  margin-top: 56px;
  margin-bottom: 24px;
}

.team {
  img {
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
  }

  h2 {
    margin-top: 24px;
    margin-bottom: 0;
  }

  p {
    color: #4a4a4a;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0;
    font-size: 16px;
    margin-top: 8px;
  }
}

.interestedToWork {
  @media (min-width: 768px) {
    margin-top: 48px;
    margin-bottom: 60px;

    h1 {
      font-size: 32px !important;
      line-height: 38px;
    }
  }
}

.backedBy {
  background-color: #f4f4f4;
  border-radius: 4px;
  width: 100%;

  .content {
    padding-top: 32px !important;
    padding-left: 48px;
  }

  margin-top: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  @media (min-width: 900px) {
    margin-top: 80px;
  }
}

.backedByText {
  order: 1;

  @media (min-width: 768px) {
    width: 50%;
    order: 2;
  }

  .p-4 {
    padding-bottom: 0;
  }
}

.backedByLogo {
  order: 2;
  padding-bottom: 32px;

  img {
    width: 185px;
    margin: 24px 0;
  }

  @media (min-width: 768px) {
    padding-bottom: 0;
    order: 1;
    width: 50%;

    img {
      width: 250px;
    }
  }

  @media (min-width: 768px) {
    img {
      width: 300px;
    }
  }

  @media (min-width: 900px) {
    img {
      width: 370px;
    }
  }
}

.teamContainer {
  @media (min-width: 600px) {
    margin-top: 10px;

    h2 {
      font-size: 32px !important;
      line-height: 38px;
    }
  }
}

.heartOfCanada {
  @media (min-width: 900px) {
    h1 {
      margin-bottom: 50px;
    }
  }
}
